body {
  background-color: #2d282b;
}

footer {
  font-size: 12px;
  padding-top: 10px;
  color: #fff;
}
footer a {
  text-decoration: none;
}

.weather-app-container {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background-image: linear-gradient(#f0b86e, #ed7b7b, #836096);
  max-width: 600px;
  margin: 30px auto 0;
  padding: 20px;
  border: 3px solid #dadde1;
  border-radius: 10px;
}
